.standard {
  width: 90%;
  height: 35px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
  outline: 0 none;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0px;
  border: none;
}

.input {
  width: 49%;
  margin: 0px;
  font-size: 0.8rem;
}

.button {
  background-color: #5d8bf4;
  color: white;
  cursor: pointer;
}

.button:active {
  background-color: rgb(56, 108, 229);
}
